/* 
adapted from:
- https://leaverou.github.io/bubbly/
- https://alligator.io/css/styling-form-input-validity/
*/

/* speech bubble */
.speech-bubble {
  position: relative;
  background: #00868B;
  border-radius: .4em;
  box-shadow: 0px 0px 18px #000000;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 70%;
  width: 0;
  height: 0;
  border: 28px solid transparent;
  border-right-color: #00868B;
  border-left: 0;
  border-bottom: 0;
  margin-top: -14px;
  margin-left: -28px;
}

div.speech-bubble {
  max-width: 420px;
  padding-top: 1px;
  padding-right: 20px;
  padding-bottom: 1px;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-left: 50px;
  text-shadow: 0px 0px 10px #ffffff;
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  font-size: 18pt;
}

/* ---- error area */
.speech-bubble-error {
  position: relative;
  background: #ff0000;
  border-radius: .4em;
  box-shadow: 0px 0px 18px #000000;
}

.speech-bubble-error:after {
  content: '';
  position: absolute;
  left: 0;
  top: 70%;
  width: 0;
  height: 0;
  border: 28px solid transparent;
  border-right-color: #ff0000;
  border-left: 0;
  border-bottom: 0;
  margin-top: -14px;
  margin-left: -28px;
}

div.speech-bubble-error {
  max-width: 420px;
  padding-top: 1px;
  padding-right: 20px;
  padding-bottom: 1px;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-left: 50px;
  text-shadow: 0px 0px 10px #ffffff;
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  font-size: 18pt;
}

/* others */
input, textarea {
  margin: 0 .25rem;
  resize:vertical;
  width: 95%;
  max-width: 400px;
  font-size: 18pt;
  font-family: 'Nunito', sans-serif;
  border: 1px solid #000000;
  border-left: 5px solid;
  border-radius: 7px;
}

.nick input {
  font-size: 14pt;
}

.message textarea {
  font-style: italic;
}

.speech-bubble p.nick {
  font-size: 14pt;
  text-shadow: 0px 0px 3px #ffffff;
}

.speech-bubble p.message {
  font-style: italic;
}

.speech-bubble p.submit {
  text-align: right;
}

.speech-bubble p.submit button.submit {
  font-size: 16pt;
  font-family: 'Nunito', sans-serif;
  background-color: #FFFFFF;
  border-radius: .4em;
  margin: 0;
  padding: 10px;
  border: 0;
  box-shadow: 0px 0px 8px #ffffff;
}

.speech-bubble p.submit button.submit:hover {
  box-shadow: 0px 0px 3px #ffffff;
  cursor: pointer;
}

.speech-bubble p.submit button.submit:active {
  box-shadow: 0px 0px 3px #fffcbb;
  cursor: pointer;
}

.speech-bubble p.submit button.submit:disabled {
  box-shadow: 0px 0px 3px #ffffff;
  cursor: wait;
}

.speech-bubble p.nick input:disabled, .speech-bubble p.message textarea:disabled {
  cursor: wait;
}


div.pageheader {
  max-width: 500px;
  text-align: center;
  text-shadow: 0px 0px 10px #000000, 0px 0px 10px #000000, 0px 0px 10px #000000;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
}

div.pagesubheader {
  max-width: 500px;
  text-align: right;
  text-shadow: 0px 0px 10px #00868B, 0px 0px 10px #000000, 0px 0px 10px #000000;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
}
